.footer {
  padding-top: 4rem;
  padding-bottom: 2rem;
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }
  &__logo {
    font-size: 1rem;
    font-weight: 600;
    color: $first-color;
  }
  &__description {
    display: block;
    font-size: $small-font-size;
    margin: 0.25rem 0 1.5rem;
  }
  &__social {
    font-size: 1.5rem;
    color: $title-color;
    margin-right: 1rem;
  }
  &__title {
    font-size: $h2-font-size;
    color: $title-color;
    margin-bottom: 1rem;
  }
  &__link {
    display: inline-block;
    color: rgb(226, 226, 226);
    margin-bottom: 0.5rem;

    &:hover {
      color: $first-color;
    }
  }
  .address {
    li {
      margin-bottom: 0.5rem;
    }
  }
  &__copy {
    text-align: center;
    font-size: $small-font-size;
    color: rgb(226, 226, 226);
    margin-top: 3.5rem;
  }
}
